obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
obj/CoreProject.csproj.nuget.cache
obj/CoreProject.csproj.nuget.g.props
obj/CoreProject.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/CoreProject.dll
obj/Debug/netcoreapp2.2/CoreProject.pdb
obj/Debug/netcoreapp2.2/CoreProject.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/CoreProject.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/CoreProject.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/CoreProject.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/CoreProject.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.2/CoreProject.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/CoreProject.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp2.2/CoreProject.TagHelpers.input.cache
obj/Debug/netcoreapp2.2/CoreProject.TagHelpers.output.cache
obj/Debug/netcoreapp2.2/CoreProject.Views.dll
obj/Debug/netcoreapp2.2/CoreProject.Views.pdb
obj/Debug/netcoreapp2.2/CoreProject.assets.cache
obj/Debug/netcoreapp2.2/CoreProject.csproj.CopyComplete
obj/Debug/netcoreapp2.2/CoreProject.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/CoreProject.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/CoreProject.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/CoreProject.csprojResolveAssemblyReference.cache
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.2/project.razor.json
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
